h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
    line-height: 1.25;
}

h1 {
    font-size: 2em;
    padding-bottom: 0.3em;
    border-bottom: 1px solid $ux-core-disabled-background;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 0.3em;
    border-bottom: 1px solid $ux-core-disabled-background;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}