.btn-list {
    display: flex;
}

.btn {
    display: inline-flex;
    border: none;
    height: 2rem; /* 32px */
    line-height: 2rem; /* 32px */
    padding: 0 1rem; /* 16px */
    margin: 0 0.5rem 0 0; /* 8px */
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    font-family: inherit;

    @include setBgColorAndHover($ux-core-silver);
    color: $ux-core-black;

    &.btn-primary {
        @include setBgColorAndHover($ux-core-blue);
        color: $ux-core-white;
    }

    &.btn-active {
        @include setBgColorAndHover($ux-core-green);
        color: $ux-core-white;
    }

    &[disabled] {
        background-color: #f1f1f1;
        color: #c1c1c1;
        cursor: default;
    }

    .material-icons {
        font-size: 1rem; /* 16px */
        line-height: 2rem; /* 32px */
    }

    .material-icons-prefix {
        margin-right: 0.5rem; /* 8px */
    }

    .material-icons-suffix {
        margin-left: 0.5rem; /* 8px */
    }
}