.button-list {
    display: flex;
}

.button,
a.button,
button,
[type=button],
[type=submit] {
    @include border-radius($button-border-radius);
    display: inline-flex;
    //display: inline-block;
    //display: flex;
    border: none;
    height: 2rem; /* 32px */
    line-height: 2rem; /* 32px */
    padding: 0 1rem; /* 16px */
    margin: 0 0.5rem 0 0; /* 8px */
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    font-family: inherit;
    font-weight: 400;

    vertical-align: middle;

    @include setBgColorAndHover($ux-core-silver);
    color: $ux-core-black;

    &.button-primary {
        @include setBgColorAndHover($ux-core-blue);
        color: $ux-core-white;
    }

    &.button-active {
        @include setBgColorAndHover($ux-core-green);
        color: $ux-core-white;
    }

    &.button-danger {
        @include setBgColorAndHover($ux-core-red);
        color: $ux-core-white;
    }

    &[disabled] {
        background-color: #eee;
        color: #ccc;
        cursor: default;
    }

    .material-icons:not(:only-child):first-child {
        margin-right: 0.5rem; /* 8px */
    }

    .material-icons:not(:only-child):last-child {
        margin-left: 0.5rem; /* 8px */
    }

    .material-icons {
        font-size: 20px;
        line-height: 2rem; /* 32px */
    }
}