.topbar {
    height: 3rem; /* 48px */
    display: flex;
    box-shadow: 0 0 4px #c1c1c1;
    
    .topbar-logo {
        display: flex;
        align-items: center;

        a {
            @include setBgColorAndHover($ux-core-blue);
            color: $ux-core-white;
            text-decoration: none;
            width: 3rem;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .topbar-breadcrumb {
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        font-weight: 400;

        a {
            color: inherit;
            text-decoration: none;
            font-weight: 200;

            &:hover {
                text-decoration: underline;
            }
        }

        .topbar-breadcrumb-seperator {
            color: $ux-core-gray;
        }
    }

    .topbar-actions {
        display: flex;
        align-items: center;

        a {
            width: 3rem;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $ux-core-gray;
            text-decoration: none;
            @include setBgColorAndHover($ux-core-white);

            &.topbar-actions-danger {
                color: $ux-core-red;

                &:hover {
                    background-color: lighten($ux-core-red, 30%);
                }
            }
        }
    }
}