@mixin border-radius($radius) {
    border-radius: $radius;
    background-clip: padding-box;
}

@mixin border-radius-left($radius) {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
    background-clip: padding-box;
}

@mixin border-radius-right($radius) {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
    background-clip: padding-box;
}

// Mobile first layout
@mixin small-breakpoint {
    @media (min-width: 600px) {
        @content;
    }
}

// Break on desktop
@mixin large-breakpoint {
    @media (min-width: 1000px) {
        @content;
    }
}