table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
}

th,
td {
    text-align: left;
    padding: 0.5rem;
}

thead th {
    border-bottom: 2px solid $ux-core-silver;
    font-weight: 400;

    &.table-sorted-down,
    &.table-sorted-up {
        border-bottom-color: $ux-core-black;
    }

    &.table-sorted-down {
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/></svg>") no-repeat center right 0.5rem;
    }

    &.table-sorted-up {
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z'/></svg>") no-repeat center right 0.5rem;
    }

    &.table-sortable:hover {
        cursor: pointer;
        border-bottom-color: $ux-core-gray;
    }
}

//tbody tr:hover {
//    background-color: lighten($ux-core-silver, 10%);
//}